<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Hour', 'Highball', 'Lowball'],
          <% i = 0 %>
          <% @time.each do |time| %>
          ["<%= time %>",<%= @high[i] %>,<%= @low[i] %>],
          <% i = i + 1 %>
          <% end %>
        ]);

        var options = {
          colors: ['Red','Blue']
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
<div id="chart_div" style="width: 1700px; height: 800px;"></div>