<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  var options;
  var chart;
  var runs = gon.runs;
  runs.reverse();
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(prep);
  drawchart = function(timeout,run){
    $('.again').removeClass('btn-success');
    $('.again').addClass('btn-warning');
    setTimeout(function(){
      var data = new google.visualization.DataTable();
      data.addColumn('string','Hour');
      data.addColumn('number','Highball');
      data.addColumn('number','Lowball');
      data.addColumn('number','Precipitation');
      var rows = new Array();
      rows = gon.tables[run];
      $('.timer').html(run);
      rows.forEach(function(entry){
        data.addRow(entry);
      });
      triggerChart(data);
    },timeout);
  }
  function prep(){
    chart = new google.visualization.LineChart(document.getElementById('temp-div'));
    options = {
        colors: ['Red','Purple','Blue'],
        animation:{duration: 3000,easing: 'linear'}
    };
    var timeout = 400;
    runs.forEach(function(entry){
      drawchart(timeout,entry);
      timeout = timeout + 4000
    });
    setTimeout(function(){
    $('.again').removeClass('btn-warning');
    $('.again').addClass('btn-success');
    },timeout);
  }
  function triggerChart(data){
    chart.draw(data, options);
  }
</script>

<div class="btn-toolbar"><div class="timer btn btn-info btn-sm">Loading</div><div class="again btn btn-success btn-sm">Play Again</div><div class="btn btn-primary btn-sm" data-toggle="modal" data-target=".why-modal">Why?</div></div>
<div id="temp-div" style="min-width:1000px;min-height:600px;width:100%;"></div>

<div class="modal fade why-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">What is this telling me?</h4>
      </div>
      <div class="modal-body">
        <p>This is a custom interface for the forecast model produced by the US National Weather Service. My goal is to observe changes in the 7 day forecast as they happen over time.</p>
        <p>The graph is transitioning chronologically through each forecast until it reaches the most recent. The timestamp in the top right shows the time the forecast was generated.</p>
        <p>Precipitation is displayed in hundredths of an inch over each three hour period.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->