<h1 class = "text-center">Email Alerts</h1>
<%= render 'form' %>
<br>
<div class="text-center">
  <%= link_to request.referer do %><div class="btn btn-sm btn-primary text-center">Back</div><% end %>
</div>